:root {
  --sapphire-blue: #2f6690ff;
  --celadon-blue: #3a7ca5ff;
  --gainsboro: #d9dcd6ff;
  --indigo-dye: #16425bff;
  --dark-sky-blue: #81c3d7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

/* Navbar Styling */
.nav-wrapper {
  background-color: #3a7ca5ff;
}

.nav-wrapper > ul > li:hover {
  background-color: #faa61a;
}

/* Title Styling */
.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-color: #81c3d7ff;
}

.text {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0;
  animation: fade-in-text 0.01s linear 1s forwards;
}

.swipe-in-text {
  position: relative;
}

.swipe-in-text::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  width: 50%;
  bottom: 0;
  z-index: 1;
  background-color: #d9dcd6ff;
  animation: swipe-in-text 1s ease-out 1s forwards;
}

@keyframes swipe-in-text {
  0% {
    width: 0%;
    right: 100%;
    left: 0;
  }
  50% {
    left: 0;
    width: 100%;
    right: 0%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

@keyframes fade-in-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Card Styling */
#container {
  margin-left: 5%;
}

#flexbox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card {
  width: 100%;
  text-align: center;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 40%;
}

/* margin-left: 20%; */

/* .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  } */
